.git
.gitignore
.devcontainer
.streamlit
__pycache__
*.pyc
*.pyo
*.egg-info
.env
.venv
venv
node_modules
docs
scripts
test.ipynb
*.docx
*.xlsx
Dockerfile
.dockerignore
CHANGELOG.md
README.md
LICENSE
